
alien_invasion/__pycache__/settings.cpython-38.pyc
alien_invasion/__pycache__/ship.cpython-38.pyc
alien_invasion/__pycache__/settings.cpython-39.pyc
.vscode/settings.json
alien_invasion/__pycache__/ship.cpython-39.pyc
alien_invasion/__pycache__/bullet.cpython-39.pyc
alien_invasion/__pycache__/alien.cpython-39.pyc
alien_invasion/__pycache__/alien.cpython-38.pyc
alien_invasion/__pycache__/bullet.cpython-38.pyc
